[submodule "plugins/github"]
	path = plugins/github
	url = https://github.com/dismob/github
[submodule "plugins/levels"]
	path = plugins/levels
	url = https://github.com/dismob/levels
[submodule "plugins/welcome"]
	path = plugins/welcome
	url = https://github.com/dismob/welcome
[submodule "plugins/moderation"]
	path = plugins/moderation
	url = https://github.com/dismob/moderation
[submodule "plugins/logs"]
	path = plugins/logs
	url = https://github.com/dismob/logs.git
[submodule "plugins/tickets"]
	path = plugins/tickets
	url = https://github.com/dismob/tickets.git
